.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  background: black;
  font: normal normal normal 16px/22px Nimbus Sans;
}

.mat-toolbar.mat-primary {
  font-family: nimbus-sans, Roboto, "Helvetica Neue", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
  color:lightgrey;
}

a:hover, a:active {
  color: white;
}

.logo {
  width: 150px;
  height: 30px;
}
