<app-main-header-nav></app-main-header-nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <mat-toolbar>
    <mat-toolbar-row fxFlexFill fxLayout='column' fxLayoutGap='45px'>
      <div>
        <img alt="logo" class='logo' src="../assets/logo red.svg" />
      </div>
      <div fxFlex fxLayout='row' fxLayoutGap='45px'>
        <ul fxLayout fxLayoutGap='45px' class="navigation-items">
          <li>
            <a routerLink='/home'> Contact Us </a>
            <a routerLink='/FAQs'> FAQs </a>
            <a routerLink='/purchasePass'> Terms & Conditions </a>
            <a routerLink='/my-account'> Privacy Policy </a>
            <a routerLink='/my-account'> Coockies Policy </a>
          </li>
        </ul>
      </div>
      <p>2019 MatchRoomGo All Rights Reserved</p>
    </mat-toolbar-row>
  </mat-toolbar>

</footer>