.home-component {
    min-height: calc(100vh - 320px);
    height: fit-content;
    background-image: url("../../assets/hero/smoke2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .center {
        display: flex;
        position: fixed;
        background-color: transparent;
        top: 50%;
        left: 40%;
        margin-top: -150px;
        margin-left: -100px;
    }

    .play-button {
        border: 1px solid #d43b38;
        padding: 0;
        background-color: transparent;
        .inner {
            margin: 2px;
            background-color: #d43b38;
            text-align: left;
            font: normal normal 900 18px/31px Nimbus Sans Cond L;
            letter-spacing: 0px;
            color: #ffffff;
            text-transform: uppercase;
            opacity: 1;
        }
    }

    .icon-text {
        display: flex;
        align-items: center;
    }
}
