<div class='home-component'>
    <div class="center">
        <button mat-raised-button fxFlexAlign='center, center' color="warn">
            <div class='inner icon-text'>
                <mat-icon>
                    play_circle_filled
                </mat-icon>
                <a (click)="openWatchVideoDialog()"> watch live now </a>
            </div>
        </button>
        <button routerLink='/purchase-pass' mat-raised-button color="warn">
            purchase pass 
        </button>
    </div>
</div>