.home-component {
    min-height: 500px;
    height: fit-content;
    background-image: url("../../assets/hero/smoke2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}