<div class='home-component'>
    <div class="center">
        <button mat-raised-button class='play-button' color="accent">
            <div class='inner icon-text'>
                <mat-icon>
                    play_circle_filled
                </mat-icon>
                <a (click)="openWatchVideoDialog()"> watch live now </a>
            </div>
        </button>
        <button mat-raised-button color="accent">
            <mat-icon>PURCHASE PASS</mat-icon>
            <a routerLink='/purchase-pass'> WATCH LIVE NOW </a>
        </button>
    </div>
</div>