<footer class='app-footer'>
    <mat-toolbar class='footer' color='primary' >
      <mat-toolbar-row fxFlexFill fxLayout='column' fxLayoutGap='45px'>
        <div>
          <img alt="logo" class='logo' src="../assets/logo red.svg" />
        </div>
        <div>
          <mat-nav-list fxLayout='row' fxLayout.xs='column' fxLayoutGap>
            <a mat-list-item routerLink='/home'> Contact Us </a>
            <a mat-list-item routerLink='/FAQs'> FAQs </a>
            <a mat-list-item routerLink='/purchasePass'> Terms & Conditions </a>
            <a mat-list-item routerLink='/my-account'> Privacy Policy </a>
            <a mat-list-item routerLink='/my-account'> Cookies Policy </a>
          </mat-nav-list>
        </div>
        <p>2019 MatchRoomGo All Rights Reserved</p>
      </mat-toolbar-row>
    </mat-toolbar>
  
  </footer>